mat-card{
    margin-top: 20px;
}
mat-card button{
    width:25%;
    margin-left:10px;
    margin-bottom:10px;
}

mat-form-field{
    display: block;
}
mat-spinner{
    margin:auto;
}


input[type="file"]{
    visibility: hidden;
}