<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  [formGroup]="form" (submit)="onAddPost()"  *ngIf="!isLoading">
        <mat-form-field>
            <input type="text" matInput  formControlName="title"  name="title" placeholder="title"  >
            <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">Please Enter a valid title</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" color="primary" (click)="filePicker.click()">Pick Up Image</button>
            <input type="file" #filePicker />
        </div>
        <mat-form-field>
            <textarea matInput rows="6"  formControlName="content" name="content" placeholder="content"  ></textarea>
            <mat-error *ngIf="form.get('content').invalid && form.get('content').touched">Please Enter a valid content</mat-error>
            
        </mat-form-field>
        <button  *ngIf="mode==='create'"
            mat-raised-button 
            color="primary"
            type="submit" [disabled]="!form.valid">save post</button>
            <button  *ngIf="mode==='edit'"
            mat-raised-button 
            color="primary"
            type="submit" [disabled]="!form.valid">update post</button>
    </form>

</mat-card>
